@{

    ViewBag.Title = "Bookintype";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div style="border-bottom-width: thin; border-bottom-style: solid; border-bottom-color: #999999;"><h2>Book Appointment</h2></div>

<p><h3>Select Type</h3></p>

<div class="row">
    <div class="col-sm-6">
        <p><h4>Hospital Medical Experts</h4></p>
        Choose from a list of Available Hospitals comprising various Doctors from a variety of Categories.<br /><br />
        <a href="~/Booking/Bookhme" class="btn btn-primary" role="button">Select HME</a>

    </div>
    <div class="col-sm-6">
        <p><h4>General Medical Experts</h4></p>
        Choose from a divers list of Available Doctors from various Hospitals and Categories.<br /><br />
        <a href="~/Booking/Bookgme" class="btn btn-primary" role="button">Select GME</a>
    </div>
</div>
