
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}



<div style="border-bottom-width: thin; border-bottom-style: solid; border-bottom-color: #999999;margin-bottom:20px"><h2>Admin Manager</h2></div>

<div class="row">
    <div class="col-sm-4" style="text-align:center;margin:20px 0;">
        <a href="~/Doctorcategory" class="btn btn-success" role="button" style="width:90%">
            <span class="glyphicon glyphicon-edit"></span>  Manage Categories</a>
    </div>
    <div class="col-sm-4" style="text-align: center; margin:20px 0">
        <a href="~/DocHospitals" class="btn btn-success" role="button" style="width:90%">
            <span class="glyphicon glyphicon-edit"></span>  Manage Hospitals</a>
    </div>
    <div class="col-sm-4" style="text-align: center; margin:20px 0">
        <a href="~/Doctors" class="btn btn-success" role="button" style="width:90%">
            <span class="glyphicon glyphicon-edit"></span>  Manage Doctors</a>
    </div>
    <div class="col-sm-4" style="text-align:center;margin:20px 0;">
        <a href="~/Adremedy" class="btn btn-success" role="button" style="width:90%">
            <span class="glyphicon glyphicon-edit"></span>  Manage Ailments</a>
    </div>
    <div class="col-sm-4" style="text-align: center; margin:20px 0">
        <a href="~/AdSymptom" class="btn btn-success" role="button" style="width:90%">
            <span class="glyphicon glyphicon-edit"></span>  Manage Symptoms</a>
    </div>
    <div class="col-sm-4" style="text-align: center; margin:20px 0">
        <a href="~/Adusers" class="btn btn-success" role="button" style="width:90%">
            <span class="glyphicon glyphicon-edit"></span>  Manage Users</a>
    </div>
    <div class="col-sm-4" style="text-align: center; margin:20px 0">
        <a href="~/Admin/Regadmin" class="btn btn-success" role="button" style="width:90%">
            <span class="glyphicon glyphicon-edit"></span>  Add Admin User</a>
    </div>
    <div class="col-sm-4" style="text-align: center; margin:20px 0">
        <a href="~/FrontPage/index" class="btn btn-success" role="button" style="width:90%">
            <span class="glyphicon glyphicon-edit"></span> Edit Front Page
        </a>
    </div>
</div>