<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - DocAPP</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
   
    <link rel="stylesheet" href="~/Scripts/jquery-uiv1.11.4.css">
    <link rel="stylesheet" href="~/Scripts/bootstrap.min-cus.css">
    <link rel="stylesheet" href="~/Content/custom.css">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min-cus.js"></script>
    <script src="~/Scripts/jquery-ui1.11.4.js"></script>

 
</head>
<body>

    <div class="dcenter">
        <div>
            <img src="~/Images/docimage.jpg" />
        </div>


        <div class="col-container">
            <div class="container-fluid col">

                    <div class="row">
                        <div class="col-sm-12">
                            @RenderBody()
                        </div>


                    </div>
               
            </div>
        </div>

        </div>
        
    
    <footer>
        <div class="footer">


            <div class="container footer1"><p><h6>&copy; @DateTime.Now.Year - DOC App</h6></p></div>


        </div>


    </footer>


</body>
</html>
